@font-face {
    font-family: 'ProximaNova-Light';
    src: url('src/fonts/ProximaNova-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'CommercialLTW04-Light';
    src: url('src/fonts/CommercialLTW04-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Didot-Regular';
    src: url('src/fonts/Didot-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Didot-LT-Std-Headline';
    src: url('src/fonts/Didot-LT-Std-Headline.ttf') format('ttf');
}

@font-face {
    font-family: 'ProximaNovaT-Thin';
    src: url('src/fonts/ProximaNovaT-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('src/fonts/ProximaNova-Bold.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ProximaNova-Light';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    letter-spacing: 1px;
    font-size: 1.125em;
    color: #000;
    font-weight: 600;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: transparent;
    margin: 0;
    overflow: hidden;
}

.navegation {
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    background: transparent;
    transition: .4s;
    text-transform: uppercase;
    z-index: 11111111;
    padding: 4%;
    margin: 0 auto;
    justify-content: center;
}

.navegation::before {
    position: absolute;
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 1px;
    background: #fff;
    bottom: 0;
}

.content_navegation {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    transition: .5s;
}


/*----- Logo -----*/
.logo {
    position: relative;
    display: flex;
    height: 60px;
    width: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo a {
    position: relative;
    color: #fff;
    line-height: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.logo span:nth-child(1) {
    font-size: 1.7em;
}

.logo span:nth-child(3) {
    font-size: 0.7em;
}

.logo span:nth-child(5) {
    font-size: 1.3em;
    line-height: 2px;
}

/*----- Navegación -----*/
.links-sections_right,
.links-sections_left {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
}

.links-sections_right {
    justify-content: flex-end;
}

.links-sections_left li {
    margin-right: 35px;
}

.links-sections_right li {
    margin-left: 15px;
}

.links-sections_right a {
    transition: letter-spacing .4s;
}

.links-sections_right li a,
.links-sections_left li a {
    position: relative;
    font-size: 0.85em;
    color: #fff;
}

.links-sections_right li a:hover {
    color: #03a9f4;
    letter-spacing: 1px;
}

.links-sections_left a i {
    font-size: 1.8em;
}

.links-sections_left a i:hover {
    letter-spacing: 0;
}

.links-sections_left li:nth-of-type(1) a i {
    font-size: 1.65em;
}

/*--------------------------------
-------- Movil Navegation -------- 
----------------------------------*/
.content_navegation.active {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fffcf6;
    z-index: 111111;
    transition: .5s;
}

.content_navegation::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(120%, 0);
    background-color: #03a9f4;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 87%, 37% 0);
    transition: .4s;
}

.content_navegation.active::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #03a9f4;
    transform: none;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 22% 0);
    transition: .4s;
}

.logo.active {
    display: none;
}

.links-sections_left.active {
    position: absolute;
    display: flex;
    bottom: 60px;
    justify-content: center;
    width: 100%;
    padding: 0;
    transition: .5s;
    margin-left: 5.3%;
}

.links-sections_left.active li {
    width: 42px;
    height: 42px;
}

.links-sections_left.active li a {
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px;
}

.links-sections_right.active {
    display: flex;
    position: relative;
    top: -40px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transition: .5s;
}

.links-sections_right.active li {
    margin-left: 0px;
    margin-bottom: 2em;
}

.links-sections_right.active li a {
    position: relative;
    font-size: 2em;
    font-weight: bold;
    color: #000;
    transition: letter-spacing .4s;
}

.menu_toggle.active {
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: -6%;
    left: 0;
    transition: .5s;
}

.open_menu.active {
    display: flex;
    width: 50px;
    height: 50px;
    background-image: url(src/images/closeToggle.png);
    filter: invert(1);
    transition: .5s;
}

/*--------------------------- 
-------- Menu Toggle --------
-----------------------------*/
.menu_toggle {
    position: relative;
    display: none;
}

.open_menu {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-image: url(src/images/menuToggle.png);
    background-size: cover;
    filter: invert(1);
}

.open_menu:hover {
    cursor: pointer;
}

/*------------------------------
 ------ Navegation Scroll ------
 -------------------------------*/
.navegation.scroll {
    background-color: #fffcf6;
    padding: 2.4%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.navegation.scroll:hover {
    padding-top: 3%;
    padding-bottom: 3%;
}

.links-sections_left,
.links-sections_right,
.logo a {
    transition-duration: .5s;
}

.navegation.scroll:hover .links-sections_left {
    font-size: 1.2em;
}

.navegation.scroll:hover .links-sections_right {
    font-size: 1.1em;
}

.navegation.scroll:hover .logo a {
    top: 0;
    font-size: 0.9em;
}

.navegation.scroll .logo a {
    top: -2px;
    color: #000;
    font-weight: 600;
}

.navegation.scroll .nombre_logo {
    display: none;
}

.navegation.scroll .marca_logo {
    color: #000;
    margin-top: -6px;
}

.navegation.scroll .links-sections_left li a,
.navegation.scroll .links-sections_right a {
    color: #000;
    font-weight: 600;
}

.navegation.scroll .links-sections_left li a:hover,
.navegation.scroll .links-sections_right li a:hover {
    color: #03a9f4;
    letter-spacing: 1px;
}

/*---------- Scroll animations ---------- */
.info_banner h1[data-scroll="in"] {
    transform: scale(1);
    opacity: 1;
}

.info_banner h1[data-scroll="out"] {
    transform: scale(0.8);
    opacity: 0;
}

.info_banner p[data-scroll="in"] {
    transform: translateX(0);
}

.info_banner p[data-scroll="out"] {
    transform: translateX(300px);
}

.links_info a[data-scroll="in"] {
    transform: translateX(0);
}

.links_info a[data-scroll="out"] {
    transform: translateX(-300px);
}

.card_entrenamiento[data-scroll="in"] {
    transform: scale(1);
    opacity: 1;
}

.card_entrenamiento[data-scroll="out"] {
    transform: scale(0.8);
    opacity: 0;
}

.titulo_team h2[data-scroll="in"] {
    transform: translateX(0);
}

.titulo_team h2[data-scroll="out"] {
    transform: translateX(-300px);
}

.info_team h4[data-scroll="in"] {
    transform: translateX(0);
}

.info_team h4[data-scroll="out"] {
    transform: translateX(300px);
}

/*---------------------------------------
--------------- Banner ------------------
-----------------------------------------*/
.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(src/images/imgSlide2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.content_banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
}

/*----- Info Banner -----*/
.info_banner {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 700px;
    height: auto;
    color: #fff;
}

.info_banner h1 {
    position: relative;
    font-size: 5em;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: 'Didot-LT-Std-Headline';
    font-weight: lighter;
    transition: .8s;
    transition-timing-function: cubic-bezier(0.68, -0.13, 0.58, 1);
}

.info_banner p {
    font-size: 1.1em;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    color: #fff;
    margin-bottom: 2em;
    transition: 1s;
    font-style: italic;
    font-weight: 100;
}

.links_info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 5em;
}

.links_info a {
    position: relative;
    display: flex;
    margin: 8px;
    color: #fff;
    border: 1px solid #03a9f4;
    padding: 5px;
    width: 160px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: rgba(3, 169, 244, 1);
    transition: .2s;
    transition-timing-function: cubic-bezier(0.68, -0.13, 0.58, 1);
}

.links_info a:hover {
    background: rgba(3, 169, 244, 0.6);
}

/*-------------------------------------------
-------------- Seccion Team -----------------
--------------------------------------------*/
.team {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.image_team {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    clip-path: polygon(100% 0, 100% 60%, 38% 60%, 22% 80%, 6% 60%, 0 60%, 0 0);
    background-image: url(src/images/fondo-entrenamiento.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.image_team::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(3, 169, 244, 0.75);
}

.content_team {
    position: relative;
    top: -1em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1111;
}

.titulo_team {
    position: relative;
    width: 30%;
    height: auto;
    padding: 8px;
    padding-left: 14%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}

.titulo_team h2 {
    transition: .7s;
}

.titulo_team h2 span:nth-child(1) {
    font-size: 2.2em;
    font-family: 'Bangers', cursive;
    color: #FED130;
    letter-spacing: 3px;
}

.titulo_team h2 span:nth-child(3) {
    font-size: 2.6em;
    font-weight: bold;
    line-height: 30px;
    font-weight: 100;
    font-family: 'Didot-Regular';
}

.info_team {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 200px;
    padding: 8px;
    padding-left: 12%;
}

.info_team h4 {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    text-align: start;
    transition: .5s;
    padding-left: 12%;
    padding-right: 10%;
    color: #555;
}

.slider_team {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.flexslider {
    width: 80%;
    height: 100%;
    margin: 0;
}

/*------------------------------------------------
-------------- Seccion Entrenamiento -------------
-------------------------------------------------*/
.entrenamiento {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.image_entrenamiento {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    clip-path: polygon(100% 0, 100% 50%, 50% 90%, 0 50%, 0 0);
    background-image: url(src/images/bannerBack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.image_entrenamiento::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(3, 169, 244, 0.7);
}

.image_entrenamiento h2 {
    position: absolute;
    display: flex;
    top: 1.2em;
    font-size: 3.4em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    z-index: 1;
    font-family: 'Didot-Regular';
}

.content_entrenamientos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 5em;
}

.intro_entrenamiento {
    top: -3.5em;
    display: flex;
    font-size: 1.2em;
    position: relative;
    justify-content: center;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
    height: auto;
    font-style: italic;
    font-weight: bold;
}

.card_entrenamiento {
    position: relative;
    top: -2em;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 610px;
    margin: 0 50px 10px 50px;
    align-items: center;
    text-align: center;
    transition: transform .5s,
        opacity .5s;
    transition-timing-function: cubic-bezier(0.68, -0.13, 0.58, 1);
    font-family: 'Open Sans',
        sans-serif;
}

.card_entrenamiento.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 111;
}

.image-card_entrenamiento {
    position: relative;
    width: 100%;
    height: 380px;
}

.image-card_entrenamiento img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card_entrenamiento h3 {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 1.6em;
    margin-top: 2px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: 'Didot-Regular';
}

.card_entrenamiento p {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #555;
    width: 96%;
    height: auto;
    font-size: 1.2em;
}

.card_entrenamiento p span:nth-child(1) {
    font-size: 0.8em;
}

.card_entrenamiento p span:nth-child(3) {
    font-style: italic;
    margin-top: -22px;
}

.ver_mas {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    bottom: 0;
    transition: .2s;
    color: rgb(3, 169, 244);
    font-size: 1.2em;
    font-weight: bold;
    animation: verMas 0.9s linear infinite alternate;
}

@keyframes verMas {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.ver_mas:hover {
    color: rgba(3, 169, 244, 0.7);
    cursor: pointer;
}

.mas_info {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: auto;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    top: 20%;
    z-index: 11;
    font-family: 'Roboto',
        sans-serif;
    background-color: #fff;
    box-shadow: 5px 5px 15px -3px #000000;
}

.mas_info h3 {
    position: relative;
    font-size: 1.7em;
    color: #000;
    margin-bottom: 1em;
}

.mas_info p {
    width: 85%;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
}

.mas_info p span {
    font-size: 1em;
    color: #000;
}

.mas_info a {
    font-size: 2em;
    margin-top: 1em;
    font-weight: bold;
}

.mas_info a:hover {
    cursor: pointer;
}

.mas_info.active {
    display: flex;
}

.mas_info.presencial .list_Start {
    width: auto;
}

.list_Start {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    font-style: italic;
}

.list_Start li {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 5px;
}

/*------------------------------------------------
----------------- Section Eventos ----------------
--------------------------------------------------*/
.events {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 3em;
    margin-top: 3em;
}

.image_events {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    clip-path: polygon(100% 0, 100% 50%, 50% 90%, 0 50%, 0 0);
    background-image: url(src/images/bannerBack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.image_events::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(220, 20, 60, 0.6);
}

.image_events h2 {
    position: absolute;
    display: flex;
    top: 0.8em;
    font-size: 3.8em;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
    font-family: 'Didot-Regular';
    font-weight: 100;
}

.info_events {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
}

.slider_container {
    position: relative;
    margin-top: 2em;
    width: 90%;
    height: 500px;
    overflow: hidden;
}

.slider_events {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 200%;
    height: 100%;
    animation: sliderEvents 10s infinite alternate;
}

@keyframes sliderEvents {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    50% {
        margin-left: 0%;
    }

    75% {
        margin-left: -100%;
    }

    100% {
        margin-left: -100%;
    }
}

.slider_events li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider_events li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider_events li a h2 {
    position: absolute;
    display: flex;
    margin-top: -3em;
    justify-content: center;
    height: auto;
    z-index: 11;
    font-size: 5em;
    font-family: 'Bangers',
        cursive;
    color: #FED130;
    letter-spacing: 5px;
    width: 100%;
    height: auto;
}

.slider_events li a h3 {
    position: absolute;
    margin-top: -2.3em;
    display: flex;
    justify-content: center;
    height: auto;
    z-index: 11;
    font-size: 3em;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    height: auto;
    font-family: 'Didot-Regular';
}

.slider_events li a p {
    position: absolute;
    margin-top: -1em;
    display: flex;
    justify-content: center;
    height: auto;
    z-index: 11;
    font-size: 1.6em;
    font-style: italic;
    font-weight: 100;
    color: #fff;
    width: 100%;
    height: auto;
    font-family: 'Didot-Regular';
}

.slider_events li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
}

/*--------------------------------------------------------------
----------------------------- Footer ---------------------------
----------------------------------------------------------------*/
footer {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding: 20px 80px;
    background: #000;
    flex-wrap: wrap;
    z-index: 10;
}

footer::after {
    content: '';
    position: absolute;
    left: 0;
    top: -60px;
    width: 100%;
    height: 60px;
    background: #000;
    border-radius: 100% 100% 0 0;
}

footer .contentF {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Roboto',
        sans-serif;
    font-weight: 500;
}

footer p {
    color: #999;
    font-size: 0.9em;
}

footer li {
    list-style: none;
    text-decoration: none;
    display: flex;
}

.sec {
    margin-top: 2%;
}

.aboutUs {
    width: 43%;
    padding-right: 10%;
}

.contact {
    position: relative;
    width: 27%;
    margin-left: -2%;
}

.contact ul li {
    margin-bottom: 10px;
}

.contact .contactInfo {
    position: relative;
}

.contact .contactInfo li {
    margin-bottom: 16px;
}

.contact .contactInfo li span {
    color: #999;
}

.contact .contactInfo li span:nth-child(1) {
    color: #999;
    font-size: 18px;
    height: 26px;
    width: 18px;
    margin-right: 5px;
}

.contact .contactInfo li span:nth-child(2) {
    font-size: 0.9em;
    color: #999;
}

.contact .contactInfo li a {
    font-size: 0.9em;
    color: #999;
    text-decoration: none;
}

.developer {
    width: calc(30% - 60px);
    margin-right: 0 !important;
}

.developer li {
    display: flex;
}

.developer p span {
    margin-left: 5px;
}

.listA {
    margin-top: 10px;
    display: flex;
}

.listA li a {
    display: inline-block;
    width: 22.6px;
    height: 22.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.listA li a .fab {
    font-size: 26px;
    color: #999;
}

.copy {
    margin-top: 2em;
    margin-bottom: -15px;
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
}

.copy a {
    font-size: 0.9em;
    color: #999;
    width: auto;
    margin: 0 auto;
}






/*--------- Responsive ----------*/
@media screen and (max-width: 1100px) {
    .menu_toggle {
        position: absolute;
        display: flex;
        justify-content: center;
        right: 0;
        align-items: center;
        width: 10%;
        filter: invert(1);
    }

    .navegation.scroll .menu_toggle {
        filter: invert(0);
    }

    .links-sections_left,
    .links-sections_right {
        display: none;
    }

    .logo {
        width: 90%;
    }

    .logo a {
        color: #fff;
        font-weight: bold;
        flex-direction: row;
        justify-content: flex-start;
    }

    .logo span:nth-child(1) {
        font-size: 1.7em;
    }

    .logo span:nth-child(3) {
        display: none;
    }

    .logo span:nth-child(5) {
        font-size: 1.2em;
        margin-left: 0.5%;
        line-height: 0;
    }
}




@media screen and (max-width: 850px) {
    .image_entrenamiento h2 {
        font-size: 2.3em;
    }

    .info_banner h2 {
        font-size: 3.6em;
    }

    .info_banner p {
        font-size: 1em;
    }

    .links_info {
        margin-top: 4.6em;
    }

    .links_info a {
        width: 150px;
        height: 46px;
    }

    .logo span:nth-child(5) {
        display: none;
    }

    .logo {
        flex-direction: row;
        width: 90%;
    }

    .logo span:nth-child(3) {
        display: none;
    }

    .menu_toggle.active {
        top: 80%;
    }
}










@media screen and (max-width: 600px) {
    .menu_toggle {
        margin-right: 6%;
    }

    .menu_toggle.active {
        margin-top: -20%;
    }

    .links-sections_left.active {
        margin-left: 9.1%;
    }

    .navegation {
        height: 60px;
    }

    .content_banner {
        margin-top: 2em;
    }

    .info_banner {
        width: 96%;
        flex-wrap: wrap;
    }

    .info_banner h2 {
        font-size: 3.6em;
    }

    .info_banner p {
        font-size: 1.1em;
        margin: 0 auto;
        width: 90%;
        margin-bottom: 1.6em;
    }

    .links_info {
        margin-top: 6em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links_info a {
        width: 180px;
        height: 45px;
        font-size: 1.3em;
    }

    .team {
        flex-direction: column;
        height: auto;
    }

    .image_team {
        height: 110px;
        clip-path: polygon(100% 0, 100% 50%, 50% 90%, 0 50%, 0 0);
    }

    .content_team {
        flex-direction: column;
        width: 90%;
    }

    .titulo_team {
        position: relative;
        width: 100%;
        height: auto;
        padding-left: 0;
        align-items: center;
        margin-top: 10px;
    }

    .titulo_team h2 span:nth-child(1) {
        font-size: 1.8em;
        letter-spacing: 4px;
    }

    .titulo_team h2 span:nth-child(3) {
        font-size: 2em;
        line-height: 25px;
    }

    .info_team {
        display: flex;
        align-items: center;
        text-align: center;
        width: 90%;
        text-align: center;
        height: auto;
        margin-top: 1em;
        padding-left: 0;
    }

    .info_team h4 {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        font-size: 1.1em;
    }

    .slider_team {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .flexslider {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .image_entrenamiento {
        height: 190px;
    }

    .image_entrenamiento h2 {
        width: 300px;
        text-align: center;
        font-size: 2em;
        margin-top: 0;
    }

    .content_entrenamientos {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .intro_entrenamiento {
        top: -1em;
        margin-bottom: -1em;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 1.1em;
    }

    .card_entrenamiento {
        top: 30px;
        width: 300px;
        height: auto;
        margin: 0 40px 50px 40px;
    }

    .image-card_entrenamiento {
        height: 360px;
    }

    .card_entrenamiento h3 {
        font-size: 1.7em;
        margin-top: 0.6em;
        margin-bottom: -1px;
    }

    .card_entrenamiento p {
        position: relative;
        width: 96%;
        height: auto;
        font-size: 1.3em;
    }

    .mas_info {
        width: 380px;
        top: 12%;
        font-family: 'Roboto',
            sans-serif;
    }

    .mas_info h3 {
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    .mas_info a {
        font-size: 2.2em;
    }

    .list_Start {
        width: 90%;
    }

    footer {
        flex-direction: column;
        padding: 20px 30px;
    }

    footer::after {
        top: -40px;
    }

    footer .contentF {
        flex-direction: column;
    }

    footer p {
        font-size: 1em;
    }

    .sec {
        margin-right: 0;
        width: 100%;
        background-color: #000;
        margin-top: 10%;
    }

    .aboutUs {
        text-align: center;
        width: 100%;
        padding-right: 0;
        margin-bottom: 2em;
    }

    .contact {
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 0.6em;
        margin-left: 0;
    }

    .contact .contactInfo {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -5%;
    }

    .contact .contactInfo li span:nth-child(2) {
        font-size: 1.3em;
    }

    .contact .contactInfo li a:nth-child(2) {
        font-size: 1.3em;
    }

    .developer {
        width: 100%;
        margin-right: 0 !important;
        flex-direction: column;
        text-align: center;
    }

    .listA {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .listA li {
        margin: 5px;
    }

    .listA li a {
        width: 28px;
        height: 28px;
    }

    .listA li a .fab {
        font-size: 28px;
    }

    .listA li a .far {
        font-size: 28px;
    }

    .copy {
        width: 100%;
        bottom: -16px;
        margin: 0;
        margin-top: 2em;
    }

    .image_events h2 {
        top: 1em;
        font-size: 2.8em;
    }

    .info_events h2 {
        font-size: 2.6em;
    }

    .slider_container {
        margin-top: 1em;
        height: 460px;
    }

    .slider_events li a h2 {
        margin-top: 0;
        top: 12px;
        font-size: 3.3em;
        letter-spacing: 5px;
    }

    .slider_events li a h3 {
        margin-top: 0;
        top: 3em;
        font-size: 1.7em;
    }

    .slider_events li a p {
        margin-top: 0;
        bottom: 12px;
        font-size: 1.3em;
    }

    .slider_events li a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.3);
    }
}