@font-face {
    font-family: "Mukta-Bold";
    src: url("fonts/Mukta-Bold.ttf") format("truetype");
}
body {
     font-family: "Roboto", sans-serif;;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #01212e;
}

.gasify {
    position: relative;
    font-size: 100px;
    font-family: "Mukta-Bold";
    top: -100px;
}

.info {
    position: relative;
    font-size: 15px;
    font-style: italic;
    top: -240px;
    color: #fff;
}

.login {
    position: relative;
    display: flex;
    flex-direction: row;
}

.login a {
    margin: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.formulario-iniciosesion {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-image: linear-gradient(to bottom right, #0D1117 45%, #1b222b 0%);
}

#formulario-sesion {
    width: 250px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -150px;
}

#formulario-sesion a {
    font-size: 15px;
    color: #7c2cdd;
    margin-top: 5px;
}

#formulario-sesion label {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

input {
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

input[type="submit"] {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    color: #01212e;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    margin-top: 50px;
    width: 80%;
}

input[type="email"], [type="password"] {
    font-family: "Roboto", sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: #ffffff6c;
    color: #222;
    margin: 5px;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

h1, h2 {
    text-align: center;
    position: relative;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    top: -150px;
}

@media only screen and (max-width: 600px) {
.formulario-iniciosesion {
    padding-top: 0px;
}

#formulario-sesion {
    width: 320px;
}

input {
    padding: 8px;
    height: 25px;
}

input[type="submit"] {
    padding: 10px;
    font-size: 15px;
    height: 50px;
}

input[type="email"], [type="password"] {
    font-size: 20px;
    height: 50px;
    font-weight: 600;
}

h1, h2 {
    font-size: 35px;
}
}
